body {
  background-color: #443022;
  margin-left: 20%;
  margin-right: 20%;
  color: rgba(0, 0, 0, 0);
}

header {
  margin-top: 20px;
}

h1 {
  font-family: Raleway, serif;
  font-size: 48px;
  text-align: center;
  color: #eae178;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 20px;
  padding-bottom: 20px;
  border: solid;
  border-color: #b69b4c;
  border-radius: 100px;
}

h2 {
  font-family: Raleway, serif;
  font-size: 22px;
  text-align: center;
  color: #eae178;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  font-family: Raleway, serif;
  font-size: 18px;
  color: #eae178;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 16px;
}

label {
  color: #fffadc;
  background-color: rgba(0, 0, 0, 0);
  font-family: Raleway, monospace;
}

button:nth-child(1) {
  margin-left: 20%;
}

p {
  color: #fffadc;
  background-color: rgba(0, 0, 0, 0);
  font-family: Raleway, monospace;
}

.white {
  position: absolute;
  top: 200px;
  margin-right: 20%;
}

.california {
  position: absolute;
  top: 180px;
  margin-right: 20%;
}
